{% extends "layout.html" %}

{% block content %}
<div> 
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">About the Project</h1>
          <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim optio explicabo quia quos suscipit. Deserunt, quae molestiae nam adipisci hic inventore, deleniti ipsum nobis libero alias at reprehenderit aliquam rem id fugiat illo magni quidem.</p>
          <a class="btn btn-dark" href="https://github.com/BadrChoubai/isitabot">
            <i class="bi bi-github"></i> View on GitHub
          </a>
        </div>
      </div>

    <section class="w-100 m-auto">
        <h2>Contributors</h2>

        <div class="row w-100 m-auto">
            <div class="card m-2">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="my-1 btn btn-dark"><i class="bi bi-github"></i> Their GitHub</a>
                    <a href="#" class="my-1 btn btn-primary"><i class="bi bi-twitter"></i> Their Twitter</a>
                    <a href="#" class="my-1 btn btn-secondary"><i class="bi bi-twitter"></i> Their Website</a>
                  </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div>
                      <a href="#" class="my-1 btn btn-dark"> <i class="bi bi-github"></i> Their GitHub</a>
                      <a href="#" class="my-1 btn btn-primary"><i class="bi bi-twitter"></i> Their Twitter</a>
                      <a href="#" class="my-1 btn btn-secondary"><i class="bi bi-twitter"></i> Their Website</a>
                    </div>
                  </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div>
                      <a href="#" class="my-1 btn btn-dark"> <i class="bi bi-github"></i> Their GitHub</a>
                      <a href="#" class="my-1 btn btn-primary"><i class="bi bi-twitter"></i> Their Twitter</a>
                      <a href="#" class="my-1 btn btn-secondary"><i class="bi bi-twitter"></i> Their Website</a>
                    </div>
                  </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div>
                      <a href="#" class="my-1 btn btn-dark"> <i class="bi bi-github"></i> Their GitHub</a>
                      <a href="#" class="my-1 btn btn-primary"><i class="bi bi-twitter"></i> Their Twitter</a>
                      <a href="#" class="my-1 btn btn-secondary"><i class="bi bi-twitter"></i> Their Website</a>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
