{% extends "layout.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
<h1 class="display-5 fw-bold">Current Implementation</h1>
<div class="col-lg-6 mx-auto">
  <p class="lead mb-4">Use our Machine Learning Model to analyze both plain text and user comments on both Twitter and Reddit</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/comment-demo" class="btn btn-primary btn-lg px-4 gap-3">Plain Text Demo</a>
    <a href="/user-platform-demo"  class="btn btn-outline-secondary btn-lg px-4">User-Platform Demo</a>
  </div>
</div>
</div>


<section class="container">
    <div class="row w-100">
      <div class="col-md col-sm-6 mb-4 mx-4 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Plain Text Demo</h2>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel perferendis fuga commodi vitae harum est, suscipit id nobis esse magnam exercitationem odit. A, consequatur ipsum.</p>
        </div>
      </div>
      <div class="col-md col-sm-6 mb-4 mx-4 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">User-Platform Demo</h2>
          <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur iste eum velit. Mollitia, vitae sit autem dolorem maxime amet labore atque id similique ipsa tempore!</p>
        </div>
      </div>
    </div>
</section>
{% endblock %}
