{% extends "layout.html" %}

{% block content %}
<div>
  <section class="p-2 mb-4">
    <h1>By User and Platform Demo</h1>

    <form method="POST">
      <div class="mb-3 input-group">
        <select name="platform" class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          {% for o in data.options %}
          <option value="{{ o }}">{{ o }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-2 input-group flex-nowrap">
        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
</div>
{% endblock %}